/* 
  navStyle
*/

.navStyle {
    margin: 0 auto;
    height: 50px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.nav_input_wrapper {
    display: flex; 
    align-items: center;  
    width: 100%;
}

.nav_search_btn {
    border: 1px solid #ccc;
    border-radius: 3px;
    color:'#b1b1b1';
    background: #ddd;
    width:75px;
    height: 30px;
}

.module_container {
    border:2px solid red;
}  


.module {
    width: 250px;
    position: absolute;
    z-index: 1000;
    right: 0;
    
}


.nav_icon_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.nav_icon_container i{
    display: none;
}

.nav_input_container {
    font-size: 13px;
    display: flex;
    margin: 0 auto;
}


.nav_input {
    width: 100%;
}

@media screen and (min-width:500px) {
    .nav_icon_container {
        width: 300px;
    }

    .nav_icon_container i {
        display: inline;
    }

    .navStyle {
        width: 97%;
      }

    .nav_input_wrapper {
        display: flex; 
        align-items: center;  
        width: 50%;
    }

    .nav_input_container {
        font-size: 13px;
        display: flex;
        margin: 0 auto;
        width: 100%
    }


}
