@media screen and (min-width:471px) {
  
    .userInteraction {
      width: 100%;
    }
  
    .userInfoContainer {
      width: 100%;
    }

    .mainVideoStyle {
      width: 100%;
      height: 400px;
      background: dodgerblue;
      margin-bottom: 20px;
    }

  }