@media screen and (min-width: 995px) {
  
    .split_main_rec {
        display: flex;
        align-items: flex-start;
    }

    .rec_vid_container {
        flex:1;
        margin-left: 20px;
    }

    .video_and_comments_container {
        flex:2
    }

    .rec_videos {
        margin-top: 10px;
    }

}
