@media screen and (min-width:471px) {
    .userInfoContainer div button {
      font-family:'Roboto';
      background:#ff0000;
      font-weight:300;
      color:white;
      padding:10px 20px;
      border:none;
      border-radius:2px;
      font-size:15px;
      text-transform:uppercase
    }
    .userInteraction {
      width: 100%;
    }
  
    .userInfoContainer {
      width: 100%;
    }
    .main_video_desc {
      margin-left:70px;
    }

  }