/* 
    Next and Prev styles for carrosel
 */

 .slick-prev {
    left: 17px;
    z-index: 500000;
}

.slick-next {
    right: 17px;
}

.slick-next:before, .slick-prev:before {
    color: white;
    font-size: 50px;
    position: absolute;
    left: -14px;
    bottom: 27px;
    z-index: 50000;
    opacity: 1;
}


/* 
    HomePage container that contains the whole page
*/

.homepage_container {
    width: 100%;
    height: 100vh;
    margin: 0, auto
}


/* 
    This is styling the contents inside the container
*/

.videos_container {
    width: 425px;
    margin: 0 auto;
    padding-bottom: 50px;
}


/* 
    This is the categories that each video is categorize as
    like games, comedy, movies, etc.
*/

.category_title {
    display: flex;
    justify-content: space-between;
    width: 97%;
    margin-bottom: 18px;
}


@media screen and (min-width:660px) {

    .videos_container {
        width: 640px;
        margin: 0 auto;
    }

    .category_title {
        width: 100%;
    }

}

@media screen and (min-width:870px) {
    .videos_container {
        width: 850px;
    }
}

@media screen and (min-width:1130px) {
    .videos_container {
        width: 1065px;
    }
}

@media screen and (min-width:1300px) {
    .videos_container {
        width: 1275px;
    }
}

